.carousel-container{
  width: 1331px;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
  .track{
    display: flex;
    align-items: center;
  }
  .carousel-inner{
    overflow: hidden;
  }
}
.navigation{
  div{
    width: 68px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 1.7px solid #F8F8F8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 3.4px 17px rgba(0, 0, 0, 0.1);
  }
  .prev{
    left: -34px;
  }
  .next{
    right: -34px;
  }
}

