@import "./resets.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./card.scss";
@import "./carousel.scss";
@import "./footer.scss";
@import "./pages/product.scss";
body{
  font-family: $mainFont;
  overflow-x: hidden;
}
.wrapper{
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  &>section{
    flex: 1 1 auto;
  }
}