@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

$pagesBGColor: #FFFFFF;
$headerFooterBGColor: #022B32;
$linkColor: #FFFFFF;
$titleColor: #000000;
$cardTextColor: #232323;
$cardBorderColor: #F2F2F2;
$sliderArrowColor: #757575;
$mainFont: 'Poppins', sans-serif;
